<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.moviedatabase" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Movie database</name>
    <icon density="mdpi" height="57" platform="android" src="res/icon/android/icon.png" witdh="57" />
    <description>
        Final project - Movie database by Rawa Jalal and Steven Ye
    </description>
    <author>
        Rawa Jalal and Steven Ye
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <preference name="permissions" value="none" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-certificates" spec="^0.6.4" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
